#historia .bg-primary {
    background-color: #2ba2cc !important;
    font-size: 1em !important;
    line-height: 1.75em;
}

#historia .caricatura-rafael {
    margin-right: -10px;
}

.landing-page .history {
    margin-top: 0 !important;
    padding-top: 7.5rem;
    padding-bottom: 7rem;
    background: url('../../assets/img/history-background.jpg') center center no-repeat;
    background-size: cover;
}
.history .section-title {
    margin-top: 0;
    margin-bottom: 1.5em;
}
.history p {
    text-align: justify;
    text-indent: 1.5em;
}
@media (min-width: 1200px) {
   
    .history .caricatura-rafael {
        max-height: 120vh;
    }
}