.form-1 {
	padding-top: 8em;
    padding-bottom: 7em;
    border-top-left-radius: 7em;
	background-color: #e3f9fd;
}

.form-1 .text-container {
	margin-bottom: 4rem;
}

.form-1 .section-title {
	margin-bottom: 0.5rem;
}

.form-1 h2 {
	margin-bottom: 1.375rem;
	color: #fff;
}

.form-1 .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.form-1 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.form-1 .label-control {
	color: #fff;
}

.form-1 .form-control-input,
.form-1 .form-control-select {
	border: 1px solid #39728f;
	background-color: #2a5d77;
	color: #fff;
}

.form-1 .form-control-textarea {
	border: 1px solid #39728f;
	background-color: #2a5d77;
	color: #fff;
}

.form-1 .form-control-input:focus,
.form-1 .form-control-input:hover,
.form-1 .form-control-select:focus,
.form-1 .form-control-select:hover,
.form-1 .form-control-textarea:focus,
.form-1 .form-control-textarea:hover {
	border: 1px solid #fff;
}

#lmsgSubmit.h3.text-center.tada.animated,
#lmsgSubmit.h3.text-center {
	color: #fff;
}

.form-1 .help-block.with-errors .list-unstyled {
	color: #dfe5ec;
}

@media (min-width: 1200px) {
	.form-1 {
		padding-top: 14.5rem;
		padding-bottom: 15rem;
		border-top-left-radius: 15em;
		overflow-x: hidden;
	}
}