.card.profile-card {
    margin-bottom: 3em;

    border: solid .125rem #2ba2cc;
    border-radius: 1.5em;
}
.card.profile-card .card-body {
    padding: 2.5rem 1em;
}
.card.profile-card img {
    max-width: 70%;
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.card.profile-card .card-title {
    margin-top: 1.5em;
    font-size: 1.5em;
    font-family: 'Muli', sans-serif;
}
.card.profile-card li {
    font-size: 1em !important;
    font-family: 'Nunito', sans-serif;
    line-height: 1.75em;
    color: rgb(128, 128,128);
    text-align: center;

    margin-top: .75em;
    margin-bottom: .75em;
}
@media (min-width: 992px) {
    .card.profile-card .card-body {
        padding: 2.5rem;
    }
    .card.profile-card img {
        max-width: 60%;
    }
    .card.profile-card .card-title {
        font-size: 1.75em;
    }
    .card.profile-card li {
        font-size: 1em !important;
    }
}