.about-us .card {
    margin-bottom: 3em;

    border: solid .125rem #2ba2cc;
    border-radius: 1.5em;
}
.about-us .card img {
    max-width: 60%;
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.about-us .card .card-title {
    margin-top: 1em;
}
.about-us .card li {
    font-size: .8em !important;
    font-family: 'Montserrat';
    line-height: 1.75em;
    color: rgb(128, 128,128);
    text-align: center;

    margin-top: .75em;
    margin-bottom: .75em;
}