.page.positive-discipline .page-title {
    margin-bottom: .2em;
}
.page.positive-discipline .lead {
    text-align: center;
    text-indent: 0;
}
.page.positive-discipline .img-hero {
    display: block;
    max-width: 100%;
    margin-bottom: 2.5em;
}
.page.positive-discipline .testemonials {
    padding-top: 5em;
    padding-bottom: 5em;

    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.page.positive-discipline .testemonials .col {
    display: inline-block;
    float: none;
}
.page.positive-discipline .testemonials div:first-child {
    margin-left: 1em;
}
@media (min-width: 992px) {
    .page.positive-discipline .lead {
        margin-bottom: 3em;
        text-align: left;
        text-indent: 3em;
    }
    .page.positive-discipline .img-hero {
        max-width: 60%;
        float: right;
        margin-left: 3.2em;
        margin-bottom: 1.5em;
        margin-top: -9em;
    }
    .page.positive-discipline .testemonials {
        flex-wrap: wrap;
        white-space: normal;
    }
    .page.positive-discipline .testemonials > .col {
        display: block;
        float: right;
    }
    .page.positive-discipline .testemonials div:first-child {
        margin-left: 0;
    }
}