.landing-page {
    background: url("../../assets/img/header-background.jpg") 90% -5em no-repeat !important;
}
.landing-page .schedule {
    background-color: #f7f7f7;
}
@media (min-width: 992px) {
    .landing-page {
        background: #fff !important;
    }
    .landing-page .our-story {
        margin-top: 0 !important;
        padding-bottom: 7rem;
        background: url('../../assets/img/story-background.jpg') center center no-repeat;
        background-size: cover;
    }
}

/* Configurando seçoes específicas */

