.contact-us .section-wrapper {
    padding: 3em 1em;
}
.contact-us h2,
.contact-us p {
    margin-bottom: 1.5em !important;
}
.contact-us .form-control-input,
.contact-us .form-control-textarea,
.contact-us .form-group {
    text-align: center;
}
.contact-us .label-control {
    padding-left: 0;
}

.contact-us .list-unstyled {
    margin-bottom: 1.875em;
}
.contact-us .cartoon {
    display: none;
}
@media (min-width: 992px) {
    .contact-us .section-wrapper {
        padding: 5em 2em;
    }
    .contact-us form {
        margin-left: 2.75em;
    }
    .contact-us .cartoon {
        display: block;
        max-height: 110vh;
    }
}