/* HEADER */
.header {
    background: none;
    text-align: center;
    padding-bottom: 5em;
}
.header .header-content {
    padding-top: 8em;
}
.header h1 {
    font: bold 2em "Nunito", sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #fff;

    margin-bottom: .5em;
}
.header h1 .turquoise {
    color: #ff0;
}
.header p {
    text-align: justify;
    text-indent: 1.5em;
    font-size: 1em !important;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.75em;
    color: #fff;
    
    margin-bottom: 1.5em;
}
@media (min-width: 992px) {
    .header {
        padding-bottom: 15em;
        height: 100vh;
        background: url("../../assets/img/header-background.jpg") center center no-repeat;
        background-size: cover;
        text-align: left;
    }
    .header h1 {
        font-size: 3em;
        font-family: 'Nunito', sans-serif !important;
        font-weight: 700;
        line-height: 1.4em;
        text-transform: none;
        color: #333;
        margin-bottom: .5em;
    }
    .header h1 .turquoise {
        color: #2ba2cc;
    }
    .header .header-content {
        padding-top: 12em;
    }
    .header p {
        padding-right: 3em;
        text-align: justify;
        text-indent: 1.5em;
        color: rgb(128, 128,128);
    }
    .header img {
        border-radius: 10px;
        -webkit-box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.05);
        box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.05);
    }
}