
.page.post .page-subtitle {
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: .05em;
    
    text-transform: uppercase;
    text-align: center;
    color: #2ba2cc;

    margin-top: .25em;
    margin-bottom: 1em;
}
.page.post .page-title {
    margin-bottom: .75em;
}
.page.post .info {
    padding-left: 0;
    font-size: 1em;
    margin-bottom: .75em;
    text-align: center;
}
.page.post .info > li {
    display: inline;
    list-style: none;
    padding: 0 1em;
}
.page.post .post-image {
    margin-top: 2em;
    margin-bottom: 2em;
}
.page.post .cta {
    margin-top: 3em;
    margin-bottom: 3em;
}
.page.post .cta .btn {
    font-size: 1em !important;
}
@media (min-width: 992px) {
    .page.post .page-title {
        max-width: 15em;
        margin-bottom: .5em;
    }
    .page.post .page-subtitle {
        text-align: left;
    }
    .page.post .info {
        margin-bottom: 3em;
        padding-left: 1em;
        text-align: left;
    }
    .page.post .info > li {
        display: inline;
        padding: 0;
        margin-right: 3em;
    }
    .page.post .cta {
        margin-bottom: 3em;
    }
    .page.post .post-image {
        margin-top: -13em;
        max-width: 50%;
        float: right;
        margin-left: 3.2em;
        margin-bottom: 1.5em;
    }
    .page.blog .learn-together .section-title {
        text-align: left;
    }
}